html {
    color: #333;
    -ms-text-size-adjust: 100%;
}
body,header{
    margin: 0;
}
img{
    width: 100%;
    height: 100%;
    display: block
}
select{
    border: 0;
    -webkit-appearance: none;
}
label,button{
    display: block
}
select,option{
    outline: none;
    padding: 0;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    padding-right: .14rem;
}
html * {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input,button{
    margin: 0;
    padding: 0;
    background: none;
}
.text-ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /*2表示只显示2行*/
    -webkit-box-orient: vertical;
}
.ellipsis{
    overflow: hidden;
    text-overflow:ellipsis;//文本溢出显示省略号
    white-space:nowrap;//文本不会换行（单行文本溢出）
}
img{
    width: 100%;
    height: 100%;
    display: block;
}
img,input,button{
    border: 0;
}
body,html{
    height: 100%;
}
article,
aside,
blockquote,
body,
button,
code,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
}
i{
    font-style: normal;
}
input,
select,
textarea {
    font-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,img {
    border: none;
}
ol,ul {
    list-style: none;
}
h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: 500;
}
a{
    text-decoration: none;
}
/*input*/
button {
    border: none;
}
button,input {
    line-height: normal;
}
select {
    margin: 0;
    outline: 0;
}
input[type='search'] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}
.clearfix:after {
    clear: both;
}
.icon{
    display: block;
    background-repeat: no-repeat;
}